<br />
<div class="container">
  <div class="row">
    <div class="col-md-2 col-lg-2 col-sm-12">
      <img class="img-fluid" src="../../assets/images/db.jpg" />
    </div>
    <div class="col-md-10 col-lg-10 col-sm-12">
      <h2>
        Welcome to the admin portal. Please use the links to edit the database.
      </h2>
    </div>
  </div>
</div>

<hr />

<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-4 col-sm-12">
      <button class="btn btn-primary" routerLink="product-management">
        Manage Products
      </button>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">
      <button class="btn btn-primary" routerLink="company">
        Manage Companies
      </button>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">
      <button class="btn btn-primary" routerLink="user-management">
        Manage Users
      </button>
    </div>
  </div>
</div>

<hr />

<div class="container">
  <router-outlet></router-outlet>
</div>
